<% content_for :head do %>
  <title><%= @site_info.site_description %></title>
  <meta name="description" content="<%= @site_info.site_description %>">
<% end %>
<div class="my-3">
  <h1><%= @site_info.site_intro %></h1>
  <%= render 'search' %>
</div>
