body {
  font-family: monospace !important;
}
p {
  font-size: 1rem;
}
.two-column-text {
  margin-bottom: 2rem;
}
@media (min-width: 760px) {
  .two-column-text {
    -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}
