<% if content_for?(:similar_heading) %>
<h3><%= yield(:similar_heading) %></h3>
<% else %>
<h3><%= @site_info.similar_heading %></h3>
<% end %>

<ul class="nav">
  <% 10.times.each do %>
    <% a = ([*('a'..'z')]*3).sample(rand(6..8)).join %>
    <% rand_site = SiteInfo.active.all.sample %>
    <li class="nav-item">
      <h4><%= link_to  rand_site.similar_body % {slug: a.upcase}, rand_site.meaning_url % {slug: a}, class: 'nav-link' %></h4>
    </li>
  <% end %>
</ul>

<ul class="nav">
  <% [*('a'..'z'), *('0'..'9')].each do |a| %>
    <li class="nav-item">
      <%= link_to a, "/#{a}", class: 'nav-link' %>
    </li>
  <% end %>
</ul>
